.card {
  display: flex;
  font-size: 3rem;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  padding: 2rem;
  margin-top: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
  box-shadow: 2px 3px 3px rgb(168, 168, 168), -1px -1px 3px rgb(168, 168, 168);
}

.card h2 {
  color: cornflowerblue;
}
